/* Form */
.Form{border-top:2px solid #000}
.Form__inline{}
.Form__inline .Form__group{display: inline-block;padding-left:.2em;border-bottom:0}
.Form__inline .Form__group:first-child{padding-left:0;}


/* Form__button */
.Form__button{padding-top:1em;text-align: center;}

/* Checkbox */
.Checkbox{display: inline-block;padding-left:1em}
.Checkbox__label{display: inline-block;}
.Checkbox__text{display: inline-block;padding-left:.5em;}
.Form__group > .Checkbox:first-child{padding-left:0}

/* SelectBox */
.SelectBox{display: inline-block;}

/* Form__group */
.Form__title{padding:.5em 0}
.Form__title span{font-size:1.1em;font-weight: bold;}
.Form__group{
    position: relative;
    border-bottom:1px solid #eee;
    min-height:3em;
}
.Form__group > .Form__label{
    position: absolute;
    left:0;
    line-height:2em;
    top:50%;
    margin-top:-1em;
    width:8em;
}
.Form__group > .Form__data{
    position: relative;
    padding-left:8.5em;
    padding-top:.5em;
    padding-bottom:.5em;
    line-height: 2em;
}

.SelectBox{width:10em}
.SelectBox select{width:100%;background:#fff}

.TextAreaInput{font-size:0.8em}
.TextAreaInput textarea{width: 100%;font-size:1em;line-height:1.3em;background: #fff;}

.InputList{list-style: none;}
.InputList.isButton .InputList__item{padding-right:6em}
.InputList__item{position: relative;margin-bottom: .5em;padding-left:5em;}
.InputList__title{width:5em;line-height: 2em;box-sizing: border-box;position: absolute;left:0;top:0;border-radius: 3px 0 0 3px;background-color: #577f8f;text-align: center;color:#fff;border: 1px solid #666;}
.InputList__data{line-height: 2em;height:2em;border:1px solid #666;border-radius: 0 3px 3px 0;text-indent: .5em;vertical-align: middle;}
.InputList__data > input{width:90%;height:2em;border:0;vertical-align: baseline;background-color: transparent;}
.InputList__button{position: absolute;right:0;width:6em;text-align: right;line-height:2em;top:0}


/* The Switch - the box around the slider */
.Switch{font-size:0.9em}
.Switch__label {position: relative;display: inline-block;width: 5em;height: 2.4em;vertical-align: middle;}
/* Hide default HTML checkbox */
.Switch__label input {opacity: 0;width: 0;height: 0;}
  
/* The slider */
.Switch__txt{line-height:2.4em;display: inline-block;font-weight: bold;}
.Switch__txt.red{color:red}
.Switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: dodgerblue;
    -webkit-transition: .4s;
    transition: .4s;
}

.Switch__slider:before {
    position: absolute;
    content: "";
    height: 1.8em;
    width: 1.8em;
    left: .3em;
    bottom: .3em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.Switch__label input:checked + .Switch__slider { background-color: #ccc;}
.Switch__label input:focus + .Switch__slider {box-shadow: 0 0 1px #ccc;}
.Switch__label input:checked + .Switch__slider:before {
    -webkit-transform: translateX(2.5em);
    -ms-transform: translateX(2.5em);
    transform: translateX(2.5em);
}

/* Rounded sliders */
.Switch__slider.round {border-radius: 2em;}
.Switch__slider.round:before {border-radius: 50%;}